.button-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    margin: 20px;
    padding: 10px;
    border: 1px solid #0001;
}

.button-line {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.button-line button {
    background-color: #0f8358;
    border: 1px solid rgb(12, 82, 12);
    padding: 10px 24px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    float: left;

    flex: 1 1 0;
    min-width: 0;
    max-width: none;
    width: 100px; /* set a fixed width for all buttons */
    box-sizing: border-box;
    white-space: nowrap; /* prevent text wrapping */

    &:hover {
        background-color: #074730;
    }

    &._blank {
        visibility: hidden;
    }
}

#display {
    display: flex;
    padding-left: 20px;
    background-color: rgb(193, 190, 206);
    margin-left: 30px;
    margin-right: 30px;
    height: 60px;
    align-items: center;
}

.display-text {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Lucida Console";
}

