body {
    background-color: #5d6176;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sudoku-cell {
    background-color: #eeeeee;
    font-size: 3em;
    text-align: center;
    padding: 10px;
    width: 1em;
    height: 1em;
    border-color: #111111;
    border-style: solid;
    border-width: 3px;
}

.sudoku-cell.unsolved {
    color: green;
}

[add-border-top=""] {
    border-top-width: 8px;
    margin-top:-4px;
}
[add-border-right=""] {
    border-right-width: 8px;
    margin-right: -4px;
}
[add-border-left=""] {
    border-left-width: 8px;
    margin-left:-4px;
}
[add-border-bottom=""] {
    border-bottom-width: 8px;
    margin-bottom:-4px;
}

#sudoku-container {
    background-color: #aaddaa;
    display: inline-grid;
    grid-template-columns: repeat(9, 1fr);
    border-collapse: collapse;
}

.wrapper {
    margin: auto;
    width: 75%;
}

button {
    font-size: 1em;
}